{
    "swagger": "2.0",
    "info": {
        "title": "VPN \u6d4b\u8bd5API",
        "description": "\u6d4b\u8bd5API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "\u9876\u57df API Team"
        },
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "host": "api.proxyss.top",
    "basePath": "/api",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/demo/test": {
            "get": {
                "tags": [
                    "test"
                ],
                "summary": "Create a test",
                "operationId": "test",
                "responses": {
                    "default": {
                        "description": "\u64cd\u4f5c\u6210\u529f"
                    }
                }
            }
        },
        "/demo/test2": {
            "get": {
                "tags": [
                    "test2"
                ],
                "summary": "Create a test2",
                "operationId": "test2",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "\u767b\u5f55\u540e\u8fd4\u56de\u7684token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8bf7\u6c42\u6210\u529f\u8fd4\u56de\u7528\u6237\u4fe1\u606f",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Userinfo"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/ems/send": {
            "post": {
                "tags": [
                    "\u53d1\u9001\u90ae\u7bb1\u9a8c\u8bc1\u7801"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "email",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event",
                        "in": "formData",
                        "description": "\u4e8b\u4ef6 send ",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8fd4\u56de\u6210\u529f\u6216\u8005\u5931\u8d25",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/ems/check": {
            "post": {
                "tags": [
                    "\u90ae\u7bb1\u9a8c\u8bc1\u7801\u9a8c\u8bc1"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "email",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event",
                        "in": "formData",
                        "description": "\u4e8b\u4ef6 send ",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "captcha",
                        "in": "formData",
                        "description": "\u9a8c\u8bc1\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8fd4\u56de\u6210\u529f\u6216\u8005\u5931\u8d25",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/feedback/index": {
            "post": {
                "tags": [
                    "\u7528\u6237\u53cd\u9988\u63a5\u53e3"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "\u767b\u5f55\u540e\u8fd4\u56de\u7684token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "\u767b\u5f55\u540e\u8fd4\u56de\u7684\u7528\u6237id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u53cd\u9988\u4fe1\u606f\u5217\u8868",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                },
                                "data": {
                                    "$ref": "#/definitions/Feedback"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/feedback/add": {
            "post": {
                "tags": [
                    "\u63d0\u4ea4\u53cd\u9988"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "\u767b\u5f55\u540e\u8fd4\u56de\u7684token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "\u7528\u6237id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "context",
                        "in": "formData",
                        "description": "\u53cd\u9988\u5185\u5bb9",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "\u53cd\u9988\u5185\u5bb9id",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8bf7\u6c42\u6210\u529f\u8fd4\u56de\u4fe1\u606f",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                },
                                "data": {
                                    "description": "",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/order/create": {
            "post": {
                "tags": [
                    "\u521b\u5efa\u8ba2\u5355"
                ],
                "summary": "Create a test2",
                "operationId": "test2",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "\u767b\u5f55\u540e\u8fd4\u56de\u7684token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "\u7528\u6237id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "product_id",
                        "in": "formData",
                        "description": "\u4ea7\u54c1id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "unique",
                        "in": "formData",
                        "description": "\u4ea7\u54c1sku",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8bf7\u6c42\u6210\u529f\u8fd4\u56de\u7528\u6237\u4fe1\u606f",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                },
                                "data": {
                                    "description": "",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/order/index": {
            "post": {
                "tags": [
                    "\u8ba2\u5355\u5217\u8868"
                ],
                "summary": "Create a test2",
                "operationId": "test2",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "\u767b\u5f55\u540e\u8fd4\u56de\u7684token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "\u7528\u6237id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8bf7\u6c42\u6210\u529f\u8fd4\u56de\u8ba2\u5355\u4fe1\u606f",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Order"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/product/index": {
            "get": {
                "tags": [
                    "\u4ea7\u54c1\u5217\u8868"
                ],
                "summary": "Create a test2",
                "operationId": "test2",
                "responses": {
                    "default": {
                        "description": "\u8bf7\u6c42\u6210\u529f\u8fd4\u56de\u7528\u6237\u4fe1\u606f",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/ProductEntity"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "tags": [
                    "\u7528\u6237\u767b\u5f55"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "\u7528\u6237\u540d",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8bf7\u6c42\u6210\u529f\u8fd4\u56de\u7528\u6237\u4fe1\u606f",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                },
                                "data": {
                                    "properties": {
                                        "userinfo": {
                                            "type": "object",
                                            "$ref": "#/definitions/Userinfo"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/user/register": {
            "post": {
                "tags": [
                    "\u7528\u6237\u6ce8\u518c"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "\u7528\u6237\u540d",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u90ae\u7bb1",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mobile",
                        "in": "formData",
                        "description": "\u624b\u673a\u53f7\u7801",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8bf7\u6c42\u6210\u529f\u8fd4\u56de\u7528\u6237\u4fe1\u606f",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                },
                                "data": {
                                    "properties": {
                                        "userinfo": {
                                            "type": "object",
                                            "$ref": "#/definitions/Userinfo"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/vpn/create": {
            "post": {
                "tags": [
                    "\u521b\u5efavpn"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "\u767b\u5f55\u540e\u8fd4\u56de\u7684token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "\u767b\u5f55\u540e\u8fd4\u56de\u7684\u7528\u6237id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8bf7\u6c42\u6210\u529f\u8fd4\u56de\u7528\u6237\u4fe1\u606f",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                },
                                "data": {
                                    "$ref": "#/definitions/Vpn"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/vpn/start": {
            "post": {
                "tags": [
                    "\u542f\u52a8vpn"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "\u767b\u5f55\u540e\u8fd4\u56de\u7684token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "vpn_name",
                        "in": "formData",
                        "description": "vpn \u540d\u5b57",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "vpn_id",
                        "in": "formData",
                        "description": "vpn_id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8bf7\u6c42\u6210\u529f\u8fd4\u56de\u7528\u6237\u4fe1\u606f",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/vpn/stop": {
            "post": {
                "tags": [
                    "\u505c\u6b62vpn"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "\u767b\u5f55\u540e\u8fd4\u56de\u7684token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "vpn_name",
                        "in": "formData",
                        "description": "vpn\u540d\u79f0",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8bf7\u6c42\u6210\u529f\u8fd4\u56de\u7528\u6237\u4fe1\u606f",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/vpn/generate": {
            "post": {
                "tags": [
                    "\u6279\u91cf\u52a8\u6001\u521b\u5efa\u8bd5\u7528vpn"
                ],
                "summary": "Create a test2",
                "operationId": "test2",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "\u767b\u5f55\u540e\u8fd4\u56de\u7684token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "count",
                        "in": "formData",
                        "description": "\u521b\u5efa\u6570\u91cf",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "day",
                        "in": "formData",
                        "description": "\u6709\u6548\u65f6\u95f4\uff0c\u6ca1\u6709\u9ed8\u8ba4\u4e00\u5929",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8bf7\u6c42\u6210\u529f\u8fd4\u56de\u7528\u6237\u4fe1\u606f",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/vpn/change": {
            "post": {
                "tags": [
                    "\u4fee\u6539vpn\u5bc6\u7801"
                ],
                "summary": "\u4fee\u6539vpn\u5bc6\u7801",
                "operationId": "test2",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "\u767b\u5f55\u540e\u8fd4\u56de\u7684token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "\u7528\u6237id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "machine_id",
                        "in": "formData",
                        "description": "\u673a\u5668id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "vpn_name",
                        "in": "formData",
                        "description": "vpn\u540d\u5b57",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u65b0\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "\u8bf7\u6c42\u6210\u529f\u8fd4\u56de\u7528\u6237\u4fe1\u606f",
                        "schema": {
                            "properties": {
                                "time": {
                                    "description": "\u65f6\u95f4",
                                    "type": "string"
                                },
                                "msg": {
                                    "description": "\u4fe1\u606f",
                                    "type": "string"
                                },
                                "code": {
                                    "description": "\u4fe1\u606f\u7801",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Login": {
            "properties": {
                "account": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "Feedback": {
            "properties": {
                "id": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "integer",
                    "format": "integer"
                },
                "context": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "time": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "status": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "integer",
                    "format": "integer"
                },
                "sign": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "integer",
                    "format": "integer"
                },
                "type": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "integer",
                    "format": "integer"
                }
            }
        },
        "Order": {
            "properties": {
                "member_id": {
                    "description": "\u7528\u6237id",
                    "type": "integer",
                    "format": "int64"
                },
                "product_id": {
                    "description": "\u4ea7\u54c1id",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "ProductEntity": {
            "properties": {
                "unique_id": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "sku": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "price": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "name": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "desc": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "image": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "integer",
                    "format": "int64"
                },
                "day": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "User": {
            "properties": {
                "username": {
                    "description": "\u7528\u6237\u540d",
                    "type": "string",
                    "format": "string"
                },
                "password": {
                    "description": "\u7528\u6237\u540d",
                    "type": "string",
                    "format": "string"
                },
                "email": {
                    "description": "\u7528\u6237\u540d",
                    "type": "string",
                    "format": "string"
                },
                "mobile": {
                    "description": "\u7528\u6237\u540d",
                    "type": "string",
                    "format": "string"
                }
            }
        },
        "Userinfo": {
            "properties": {
                "id": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "integer",
                    "format": "int64"
                },
                "username": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "nickname": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "mobile": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "avatar": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "score": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "integer",
                    "format": "int64"
                },
                "token": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "user_id": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "integer",
                    "format": "int64"
                },
                "createtime": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "expiretime": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                },
                "expires_in": {
                    "description": "The unique identifier of a product in our catalog.",
                    "type": "string",
                    "format": "string"
                }
            }
        },
        "Vpn": {
            "properties": {
                "id": {
                    "description": "vpn id",
                    "type": "integer",
                    "format": "int64"
                },
                "ip": {
                    "description": "ip\u5730\u5740",
                    "type": "string",
                    "format": "string"
                },
                "port": {
                    "description": "\u7aef\u53e3",
                    "type": "integer",
                    "format": "int64"
                },
                "password": {
                    "description": "\u5bc6\u7801",
                    "type": "string",
                    "format": "string"
                },
                "method": {
                    "description": "\u52a0\u5bc6\u65b9\u6cd5",
                    "type": "string",
                    "format": "string"
                },
                "name": {
                    "description": "\u5b9e\u4f8b\u540d\u79f0",
                    "type": "string",
                    "format": "string"
                }
            }
        }
    }
}