<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('member_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-account" data-rule="required" class="form-control" name="row[member_id]" type="text" value="{$row.member_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('order_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-password" data-rule="required" class="form-control" name="row[order_id]" type="text" value="{$row.order_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-location" data-rule="required" class="form-control" name="row[price]" type="text" value="{$row.price}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('order_create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_create_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[order_create_time]" type="text" value="{:date('Y-m-d',$row.order_create_time)}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('product_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-product_id" data-rule="required" class="form-control" name="row[product_id]" type="text" value="{$row.product_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('product_info')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-product_info" data-rule="required" class="form-control" name="row[product_info]" type="text" value="{$row.product_info}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('day')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-day" data-rule="required" class="form-control" name="row[day]" type="text" value="{$row.day}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="text" value="{$row.weigh}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('start_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-start_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[start_time]" type="text" value="{:date('Y-m-d',$row.start_time)}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('end_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[end_time]" type="text" value="{:date('Y-m-d',$row.end_time)}">
        </div>
    </div>
    <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('state')}:</label>
    <div class="col-xs-12 col-sm-8">

        <div class="radio">
            {foreach name="stateList" item="vo"}
            <label for="state-{$key}"><input id="state-{$key}" name="row[state]" type="radio" value="{$key}" {in name="key" value="$row.state"}checked{/in} /> {$vo}</label>
            {/foreach}
        </div>

    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('status')}:</label>
    <div class="col-xs-12 col-sm-8">

        <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="status-{$key}"><input id="status-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label>
            {/foreach}
        </div>

    </div>
</div>
    <!--<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Activitytime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-activitytime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="activitytime" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>-->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
